/*CSS RESET*/
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/* border: 0;   */
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/*GENERAL STYLES*/
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;	
    background-color: #F0F0F0; 
}

/*HEADER STYLES*/

#logo{
    height: 15vh;
    width: auto; 
    padding: 10px;
}

header{
    background-image: linear-gradient(to bottom right, #f0f0f0, #f0f0f0, grey);
}

.headerbar{
    display: flex;
}

header h2{
    font-size: 7svh;

}

.headerbar nav{
    display: flex;
    align-items: center;
    font-size: 4vh;
    margin: 2vh; 
}

.headerbar nav a{
    color: black;
    text-decoration: none;
    padding: 2vh; 
    transition: ease .2s;
}

.headerbar nav a:hover{
    transform: scale(1.25);

}

.headerbar nav h2{
    font-size: 5.5vh;
    margin-right: 4vh;
}

#PotluckPic{
    object-fit: cover;
    width: 100%;
    height: 65vh;
    border-bottom: 20px solid black;
}

#PotLuckPic:hover{

}


.getstarted{
    display: flex;
    flex-direction: column;    
    width: 90%;
    margin: auto;
    margin-top: -23vh;
}
.getstarted div{
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    padding-top: 2%;
    font-size: 2em;
    color:whitesmoke;
    text-align: center;
    justify-content: center;
    background-color: rgba(61, 61, 61, 0.856);
}

.getstarted .starttitle h2{
    font-size: 3em;
    color: rgb(255, 196, 1);
}

.getstarted .startdescription{
    font-size: 2rem;
    align-self: center;
    padding-left: 10vh;
    padding-right: 10vh;
}

.getstarted a{
    font-size: 1em;
    border-radius: 20px;
    background-color: rgb(255, 196, 1);
    padding: 1%;
    text-decoration: none;
    color: black;
    margin: 1vh;
    transition: ease .2s;
    width: 50%;
    align-self: center;
    margin-bottom: 4vh;
}

.getstarted a:hover{
    color:  rgb(255, 196, 1);
    background-color: rgb(70, 70, 70);
    border: 2px solid rgb(255, 196, 1); 
    transform: scale(1.125);
}

/*HOME CONTAINER STYLES*/

h3{
    font-size: 2em;
}

.middle-content{
    display: flex;
    flex-direction: column;
    margin: 8vh;
}

.content-row1, .content-row2{
    display:flex;
    align-items: center; 
    text-align: center; 
}


.middle-content div img{
    width: 70vh; 
    height: auto;
    padding: 5vh;
}

.middle-content div img:hover{

}

/* ABOUT STYLES */

#AboutPic{
    object-fit: cover;
    width: 100%;
    height: 50vh;
    border-bottom: 20px solid black;
    object-position: 0 3%;
}

.aboutbox{
    display: flex;
    flex-direction: column;    
    width: 50%;
    margin: auto;
    margin-top: -11vh;
}
.aboutbox div{
    display: flex;
    flex-direction: column;
    padding: 5%;
    font-size: 3em;
    color:rgb(255, 196, 1);
    text-align: center;
    justify-content: center;
    background-color: rgba(61, 61, 61, 0.856);
}

.biocontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5%;
}

.bioitem{
    display: flex;
    flex-direction: column;

}

.biotext{
    justify-content: center;
    text-align: center;
}

.biopic img{
    height: 30vh;
    width: auto;
    padding: 2%;
    justify-content: center;
    align-self: center;
}


/*FOOTER STYLES*/

footer{
    background-image: linear-gradient(to top left, #f0f0f0, #f0f0f0, grey);
}

.footerbar{
    display: flex;
    flex-direction: row-reverse;
    border-top: 4px solid black; 
    margin-top: 4vh;
}

.footerbar nav{
    display: flex;
    align-items: center;
    font-size: 4vh;
    margin: 2vh; 
}

.footerbar nav a{
    color: black;
    text-decoration: none;
    padding: 2vh; 
    transition: ease .2s;
}

.footerbar nav a:hover{
    transform: scale(1.25);
}

/* Media Queries - Tablet */

@media(max-width:800px){

}

/* Media Queries - Mobile */

@media(max-width:500px){
  .headerbar nav, .footerbar nav{
      flex-direction: column;
      font-size: 3vh;
      padding: 0;
  }
}