/*CSS RESET*/
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/* border: 0;   */
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/*GENERAL STYLES*/
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
    font-family: 'Optima', fantasy;	
    background-color: #F0F0F0; 
}

/*HEADER STYLES*/

#logo{
    height: 15vh;
    width: auto; 
    padding: 10px;
}

header{
    background-image: linear-gradient(to bottom right, #f0f0f0, #f0f0f0, grey);
}

.headerbar{
    display: flex;
}

header h2{
    font-size: 7svh;

}

.headerbar nav{
    display: flex;
    align-items: center;
    font-size: 4vh;
    margin: 2vh; 
}

.headerbar nav a{
    color: black;
    text-decoration: none;
    padding: 2vh; 
    transition: ease .2s;
}

.headerbar nav a:hover{
    transform: scale(1.125);

}

.headerbar nav button{
    font-size: 5.5vh;
    margin-right: 4vh;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(255, 196, 1);
    color: black;
    padding: 16px;
    font-size: 5.5vh;
    border: none;
    border-radius: 10px;
    margin-right: 3vh;
    transition: ease .3s;
    font-family: 'Luminari', fantasy;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }  
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
  }
  
.dropdown-content a:hover{
      background-color: #ddd;
    }
  
.dropdown:hover .dropdown-content {
      display: block;
    }
  
.dropdown:hover .dropbtn {
      background-color: #3e8e41;
      color: rgb(255, 196, 1);
    }

    
    

#PotluckPic{
    object-fit: cover;
    width: 100%;
    height: 65vh;
    border-bottom: 20px solid black;
}

#PotLuckPic:hover{

}


.getstarted{
    display: flex;
    flex-direction: column;    
    width: 90%;
    margin: auto;
    margin-top: -23vh;
}
.getstarted div{
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    padding-top: 2%;
    font-size: 2em;
    color:whitesmoke;
    text-align: center;
    justify-content: center;
    background-color: rgba(61, 61, 61, 0.856);
    
}

.getstarted .starttitle h2{
    font-family: 'Luminari', fantasy;
    font-size: 3em;
    color: rgb(255, 196, 1);
}

.getstarted .startdescription{
    font-size: 2rem;
    align-self: center;
    padding-left: 10vh;
    padding-right: 10vh;
}

.getstarted a{
    font-size: 1em;
    border-radius: 20px;
    background-color: rgb(255, 196, 1);
    padding: 1%;
    text-decoration: none;
    color: black;
    margin: 1vh;
    transition: ease .2s;
    width: 50%;
    align-self: center;
    margin-bottom: 4vh;
    
}

.getstarted a:hover{
    color:  rgb(255, 196, 1);
    background-color: rgb(70, 70, 70);
    border: 2px solid rgb(255, 196, 1); 
    transform: scale(1.125);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.767);
}

/*HOME CONTAINER STYLES*/

h3{
    font-size: 2em;
}

.middle-content{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.content-row1, .content-row2{
    display:flex;
    align-items: center; 
    text-align: center; 
}

.content-row2{
    justify-content: flex-end;
}

.space{
    /* border: 1px solid black; */
    width: 5%;
}

.content-text{
    /* border: 1px solid grey; */
    background: rgba(255, 196, 1, 0.623);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.335);
    float: right;
}

.content-text p{
    max-width: 50vh;
}

.middle-content div img{
    width: 70vh; 
    height: auto;
    margin: 5vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.767);
}

.middle-content div img:hover{

}

/* ABOUT STYLES */

#AboutPic{
    object-fit: cover;
    width: 100%;
    height: 50vh;
    border-bottom: 20px solid black;
    object-position: 0 3%;
}

.aboutbox{
    display: flex;
    flex-direction: column;    
    width: 50%;
    margin: auto;
    margin-top: -11vh;
}
.aboutbox div{
    display: flex;
    flex-direction: column;
    padding: 5%;
    font-size: 3em;
    color:rgb(255, 196, 1);
    text-align: center;
    justify-content: center;
    background-color: rgba(61, 61, 61, 0.856);
}

    /* Biography Section */
.biocontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5%;
}

.bioitem{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 2px solid grey;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2%;
    margin: 1%;
}

.biotext{
    justify-content: center;
    text-align: center;
    max-width: 40vh;
}

.biopic{
    align-self: center;
}

.biopic img{
    height: 40vh;
    width: auto;
}


/*FOOTER STYLES*/

footer{
    background-image: linear-gradient(to top left, #f0f0f0, #f0f0f0, grey);
}

.footerbar{
    display: flex;
    flex-direction: row-reverse;
    border-top: 4px solid black; 
    margin-top: 4vh;
}

.footerbar nav{
    display: flex;
    align-items: center;
    font-size: 4vh;
    margin: 2vh; 
}

.footerbar nav a{
    color: black;
    text-decoration: none;
    padding: 2vh; 
    transition: ease .2s;
}

.footerbar nav a:hover{
    transform: scale(1.25);
}

/* Media Queries - Tablet */

@media(max-width:800px){
    .content-row1, .content-row2{
        display:flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .content-row2{
        flex-direction: column-reverse;
    }
    
    .content-text{
        margin-top: -15vh;
    }

    .content-row2 .content-text{
       z-index: 1;
    }
}

/* Media Queries - Mobile */

@media(max-width:500px){
  .headerbar nav{
      flex-direction: column;
      font-size: 3vh;
      padding: 0;
      justify-content: center;
  }

  .headerbar nav a{
      font-size: 1.5em;
  }

  .headerbar .dropdown{
      padding-left: 10%;
  }

  .content-row1, .content-row2{
    display:flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.content-row2{
    flex-direction: column-reverse;
}

.middle-content div img{
    width: 80%;
    height: auto;
}

  .biotext h3{
      font-size: 1.5em;
  }
}